@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&family=Kdam+Thmor+Pro&family=Montserrat:wght@500&family=Quicksand&family=Titan+One&family=Varela+Round&display=swap");
$color_principal: rgb(108, 99, 255);
$color_secundario: #7c3e66;
$color_black: black;
$font-family: 'Varela Round', sans-serif;
$font-size: 1.4rem;

// botones
$list: blue, purple, green;

@each $var in $list {
    .button-#{$var} {
        background-color: $var;
        color: $color_black;
        border-radius: 10%;
    }
}
// mixin de cajas
@mixin caja($font-color, $list) {
    color: $font-color;
    background-color: $list;
    width: 100px;
    height: 100px;
    margin: 20px;
}
@each $list, $color in $list {
    .caja-#{$list}{
    @include caja(black, $list)
}
}

* {
    padding: 0px;
    margin: 0px;
    font-family: $font-family;
}

html {
    width: 100%;
    height: 100vh;
}

body {
    min-height: 100vh;
    background: linear-gradient(169.3deg,
            rgba(205, 249, 232, 1) 15%,
            rgba(205, 249, 232, 0) 46%),
        radial-gradient(123% 73% at 107% 96%,
            rgba(255, 253, 177, 1) 20%,
            rgba(254, 228, 191, 1) 60%,
            rgba(240, 189, 208, 1) 75%,
            rgba(255, 129, 38, 0) 100%),
        linear-gradient(0deg, rgba(0, 204, 131, 1) 0%, rgba(0, 204, 131, 1) 100%);
}

// RECURSOS
.color1 {
    background-color: $color_principal;
}

.color2 {
    background-color: $color_secundario;
}

.titulos {
    padding-top: 5px;
}

.shadow {
    -webkit-box-shadow: 0px 0px 29px 4px rgba(0, 0, 0, 0.95);
    box-shadow: 0px 0px 29px 4px rgba(0, 0, 0, 0.95);
}

.shadow__inset {
    -webkit-box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.39);
    box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.39);
}

.glass {
    margin-top: 10px;
    background: linear-gradient(135deg,
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.degrade {
    background-image: linear-gradient(to right top,
            #63b0eb,
            #73acf4,
            #8aa6fa,
            #a59ffb,
            #c295f6,
            #b79efb,
            #ada7fe,
            #a5afff,
            #78c6ff,
            #45dbff,
            #33edff,
            #5ffbf1);
}

// INDEX
.nav-link {
    display: block;
    padding: 0.5rem 0.5rem;
    font-size: $font-size - 0.3rem;
}

.btn-outline-info {
    color: #000000;
    border-color: #00000000;
}

.btn {
    border-radius: 1.25rem;
}

header a {
    color: black;
}

.logo {
    width: 4rem;
    margin-right: 10px;
}

div h1 {
    font-size: $font-size + .8rem;
}


#banner {
    width: 100%;
}

#section__inicio {
    width: 100%;
    min-height: calc(100vh - 128px);
}

#section1 {
    height: 1fr;
}

#section2 {
    height: 1fr;
}

.parrafo {
    margin: 20px;
    justify-content: center;
    text-align: justify;
    font-size: $font-size;
}

.categorias__adopcion img {
    width: 5%;
}

.mb-3 {
    margin-top: 0.5rem;
}

.carousel {
    margin: 10px;

    img {
        border-radius: 8%;
    }
}

div a img {
    width: 100%;
    border-radius: 8%;
}
.card {
    background-color: #28a745;
}
.tienda .card {
    margin: 10px 0px 10px 0px;
    background-color: rgba(255, 255, 255, 0);
    border: 0;

    img {
        border-radius: 10% 10% 5% 5%;
    }
}

.dona__img {
    border-radius: 50%;
    width: 60%;
    margin: 10px;
}

form {
    margin: 10px;
    padding: 25px;
}

#img__contact {
    width: 50%;
}
